{% load static %}
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    {% if not cart %}
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt="">
            <span>0</span></a>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-12 order-md-2 mb-4 mx-auto">
        <h4 class="text-muted">В корзине пока что нет товаров</h4>
    </div>
    {% else %}
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt="">
            <span>{{ count }}</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">

            <!-- Single Cart Item -->
            {% for p, q in prod %}
            <div class="single-cart-item">
                <a href="{{ p.get_absolute_url }}" class="product-image">
                    <img src="{{ p.image_first.url }}" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <form method="post" name="myform">
                            {% csrf_token %}
                            <input type="hidden" name="types" value='remove' />
                            <input type="hidden" name="sl" value={{ p.slug }} />
                            <span class="product-remove">
                                <button type="submit" style="height:25px; width:25px; background-color: transparent; background-repeat: no-repeat; border: none;
                                cursor: pointer; overflow: hidden; outline: none;">
                                    <i class="fa fa-close" aria-hidden="true" style="color:white;"></i>
                                </button>
                            </span>

                                <!--                            <span class="product-remove">-->
<!--                                <i class="fa fa-close" aria-hidden="true"></i>-->
<!--                            </span>-->

                        </form>

                        <span class="badge">Mango</span>
                        <h6>{{ p.title }}</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">${{ p.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>${{ subtotal }}</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                {% if discount > 0 %}
                <li><span>discount:</span> <span>-{{ discount }}%</span></li>
                {% endif %}
                <li><span>total:</span> <span>${{ total }}</span></li>
            </ul>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ coupon_apply_form }}
                    <input type="hidden" name="types" value='add' />
                    <input type="hidden" name="coupon" value='coupon' />
                    <input type="submit" value="Apply">
                </form>
            </div>
            <div class="checkout-btn mt-100">
                <a href="{% url 'orders:order_create' %}" class="btn essence-btn">check out</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>