{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="page-title text-center">
          <h2>{{ category }}</h2>
          <h4>{{ type }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="shop_grid_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="shop_sidebar_area">

          <!-- ##### Single Widget ##### -->
          <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
              <ul id="menu-content2" class="menu-content collapse show">
                {% for cat, u_cat in res %}
                {% if cat in show %}
                <li data-toggle="collapse" data-target="#{{ cat.title }}" class="collapsed">
                  <a href="#">{{ cat.title }}</a>
                  <ul class="sub-menu collapse show" id="{{ cat.title }}">
                    <li><a href="{% url 'magazine:shop' type cat.slug %}">All</a></li>
                    {% for c in u_cat %}
                    <li><a href="{% url 'magazine:shop' type c.slug %}">{{ c.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li data-toggle="collapse" data-target="#{{ cat.title }}" class="collapsed">
                  <a href="#">{{ cat.title }}</a>
                  <ul class="sub-menu collapse" id="{{ cat.title }}">
                    <li><a href="{% url 'magazine:shop' type cat.slug %}">All</a></li>
                    {% for c in u_cat %}
                    <li><a href="{% url 'magazine:shop' type c.slug %}">{{ c.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->
          <div class="widget price mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Filter by</h6>
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Price</p>

            <div class="widget-desc">
              <div class="slider-range">
                <div data-min="49" data-max="360" data-unit="$"
                     class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                     data-value-min="49" data-value-max="360" data-label-result="Range:">
                  <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                  <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                  <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                </div>
                <div class="range-price">Range: $49.00 - $360.00</div>
              </div>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->
          <div class="widget color mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Color</p>
            <div class="widget-desc">
              <ul class="d-flex">
                <li><a href="#" class="color1"></a></li>
                <li><a href="#" class="color2"></a></li>
                <li><a href="#" class="color3"></a></li>
                <li><a href="#" class="color4"></a></li>
                <li><a href="#" class="color5"></a></li>
                <li><a href="#" class="color6"></a></li>
                <li><a href="#" class="color7"></a></li>
                <li><a href="#" class="color8"></a></li>
                <li><a href="#" class="color9"></a></li>
                <li><a href="#" class="color10"></a></li>
              </ul>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->
          <div class="widget brands mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Brands</p>
            <div class="widget-desc">
              <ul>
                <li><a href="#">Asos</a></li>
                <li><a href="#">Mango</a></li>
                <li><a href="#">River Island</a></li>
                <li><a href="#">Topshop</a></li>
                <li><a href="#">Zara</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-9">
        <div class="shop_grid_product_area">
          <div class="row">
            <div class="col-12">
              <div class="product-topbar d-flex align-items-center justify-content-between">
                <!-- Total Products -->
                <div class="total-products">
                  <p><span>{{ count }}</span> products found</p>
                </div>
                <!-- Sorting -->
                <div class="product-sorting d-flex">
                  <p>Sort by:</p>
                  <form action="#" method="get">
                    <select name="select" id="sortByselect">
                      <option value="value">Highest Rated</option>
                      <option value="value">Newest</option>
                      <option value="value">Price: $$ - $</option>
                      <option value="value">Price: $ - $$</option>
                    </select>
                    <input type="submit" class="d-none" value="">
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            {% for prod in page_obj %}
            <!-- Single Product -->
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                  <img src="{{ prod.image_first.url }}" alt="">
                  <!-- Hover Thumb -->
                  {% if prod.image_second %}
                  <img class="{{ prod.image_second.url }}" alt="">
                  {% endif %}
                  <!-- Product Badge -->
                  {% if prod in sale %}
                  <div class="product-badge offer-badge">
                    <span>-30%</span>
                  </div>
                  {% endif %}
                  <!-- Favourite -->
                  <div class="product-favourite">
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description">
                  <span>topshop</span>
                  <a href="{{ prod.get_absolute_url }}">
                    <h6>{{ prod.title }}</h6>
                  </a>

                  {% if prod in sale %}
                  <p class="product-price"><span class="old-price">$75.00</span> ${{ prod.price }}</p>
                  {% else %}
                  <p class="product-price">${{ prod.price }}</p>
                  {% endif %}

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="sl" value={{ prod.slug }} />
                      <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            {% endfor %}



          </div>
        </div>
        <!-- Pagination -->
        {% include 'include/paginator.html' %}
      </div>
    </div>
  </div>
</section>

{% endblock %}