{% load static %}
{% load cart %}

<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    {% cart_area user %}

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">

            <!-- Single Cart Item -->
            {% cart_item user %}

        </div>
        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            {% summary user %}
            <div class="checkout-btn mt-100">
                <a href="checkout.html" class="btn essence-btn">check out</a>
            </div>
        </div>
    </div>
</div>