{% extends "base.html" %}

{% block title %}Profile Page{% endblock title %}

{% block content %}
{% load user_filters %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    <h5 style="text-align: center">Your Profile</h5>
                </div>
                <div class="card-body">
                    {% for u in user %}

                        {% if u.username %}
                        <h6 class="mb-4">Username: {{ u.username }}</h6>
                        {% endif %}

                        {% if u.email %}
                        <h6 class="mb-4">E-Mail: {{ u.email }}</h6>
                        {% endif %}

                        {% if u.first_name %}
                        <h6 class="mb-4">First name: {{ u.first_name }}</h6>
                        {% endif %}

                        {% if u.last_name %}
                        <h6 class="mb-4">Last name: {{ u.last_name }}</h6>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}